

<link type="text/css"  href="./static/tables.css" rel="stylesheet" />
<script type="text/javascript" language="javascript" src="./static/jquery.js"></script>
<script type="text/javascript" language="javascript" src="./static/jquery.dataTables.min.js"></script>
	
<script type="text/javascript" charset="utf-8">
J = jQuery;

	

J(document).ready(function() {
			J('#pods').dataTable( {
					"aaData": [],
					"aoColumns": [
						{ "sTitle": "UUID" },
						{ "sTitle": "Label"},
						{ "sTitle": "Destination" },
						{ "sTitle": "Last Seen" },
						{
						"sTitle": "Actions",
						"mData": null,
						"sClass": "center",
						"sDefaultContent": '<a href="#" id="delete">Delete</a> '
						}						
					],
                    "aoColumnDefs": [ {
                       "aTargets": [ 2 ],
                       "mData": "2",
                       "mRender": function ( data, type, full ) {
                           return '<a href="http://'+data+'" target="_new">'+data+'</a>';
                         }
                    },
			{
                       "aTargets": [ 1 ],
                       "mData": "1",
                       "mRender": function ( data, type, full ) {
                           return '<a href="#" id="chLabel">'+data+'</a>';
                         }
                    }
			]

				} ); 
			


			J.getJSON('dbcontents',
			function(data){
				J('#pods').dataTable().fnClearTable();         
				J('#pods').dataTable().fnAddData(data);         
          });
	  
	
  J("#pods tbody").on("click","#chLabel",function(event){
	var label=prompt("Enter new label",event.currentTarget.firstChild.data);
	var uuid=event.currentTarget.parentElement.parentElement.children[0].firstChild.data
	if (label!=null && label!="") {
		//alert("New label " + label);
		J.post("setlabel", { l: label, u: uuid } ).done(function(data) {
			window.location.replace("./");
		});;
	}
	
	return false; 
	});
	
	J("#pods tbody").on("click","#delete",function(event){
	var uuid=event.currentTarget.parentElement.parentElement.children[0].firstChild.data
	var res=confirm("Really delete "+uuid+"?");
	if (res == true) {
		J.post("delete", {  u: uuid } ).done(function(data) {
			window.location.replace("./");
		});;
	}
	
	return false; 
	});



} );
</script>

<h1>Available FSG Screens</h1>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="pods"></table>

<div align="center" style="margin-top:30px" >
<hr />
<img  src="./static/fsglogo.jpg" />
</div>